<section class="main">
  <div class="container">
    <div class="main-text">
      <p>Um gesto de amor pode mudar o destino de quem espera por você.</p>
      <h2>Encontre Seu Novo <span class="highlight">Melhor amigo</span></h2>
      <p>
        Nosso objetivo é facilitar o encontro entre pets que precisam de um lar e pessoas dispostas a adotar.
        Assim como em plataformas de compra e venda, oferecemos um espaço onde você pode cadastrar animais disponíveis para adoção.
      </p>
      <div class="main-buttons">
        <a routerLink="/allanimais" class="btn">Encontre o seu pet!</a>
      </div>
    </div>

  </div>
  <div class="main-image">
    <img [src]="'./assets/HomeDog.png'" alt="Cachorro Salsicha Sorridente com pelagem tricolor, transmitindo uma sensação de animação">
  </div>
</section>
