<div class="card animal-card mb-4">
  <img src="{{ imageUrl }}" class="card-img-top" alt="Imagem do animal">
  <div class="card-body">
    <h5 class="card-title">{{ nome }}</h5>
    <div class="d-flex justify-content-center mb-3">
      <h4 style="color: black;" class="badge rounded-pill custom-badge mx-1">{{ especie }}</h4>
      <h4 style="color: black;" class="badge rounded-pill custom-badge mx-1">{{ idade }}</h4>
      <h4 style="color: black;" class="badge rounded-pill custom-badge mx-1">{{ local }}</h4>
    </div>
    <p class="card-text">{{ descricao }}</p>
    <div class="text-center">
      <button class="btn">Fale com o tutor</button>
    </div>

  </div>
</div>
