<div id="sobre" class="how-we-work">
  <div class="text-section">
    <p>Mas, como</p>
    <h2>Funcionamos?</h2>
  </div>
  <div class="content-section">
    <img src="./assets/fluxograma.png" alt="Diagrama circular mostrando o processo de adoção de animais no Petzo, com cinco etapas: ONG's se registram, cadastram os animais, usuários verificam os disponiveis e entram em contato via Whatsapp e concluem a adoção. No centro uma mulher sorri enquanto segura um gato e um cachorro" class="cycle-image" />
  </div>
  <div><img src="./assets/cat-image.png" alt="um gato preto, com a cabeça levemente inclinada. Seus olhos grandes e redondos trasmitem uma expressão de curiosidade" class="cat-image"/></div>
</div>
